[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gym = "==0.14.0"
torch = "==1.7.0"
torchvision = "==0.8.0"
lockfile = "==0.12.2"
tensorflow = "==1.14.0"
quadpy = "==0.14.11"
mujoco-py = "==2.1.2.14"
matplotlib = "*"
pip = "==21.3.1"
pyqt5-sip = "*"
pyqt5 = "*"

[dev-packages]

[requires]
python_version = "3.6"
